[submodule "deps/treesitter/tree-sitter-cpp"]
	path = deps/treesitter/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "deps/treesitter/tree-sitter"]
	path = deps/treesitter/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/CLI11"]
	path = deps/CLI11
	url = https://github.com/CLIUtils/CLI11
